@font-face {
  font-family: 'Urbanist';
  src: url('../../public/fonts/Urbanist-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../../public/fonts/Urbanist-Italic-VariableFont_wght.ttf')
    format('ttf-variations');
  font-weight: 100 900;
  font-style: italic;
}
