@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts';

body {
  font-family: 'Urbanist', Verdana, sans-serif;
}

.button {
  @apply text-sm py-1 leading-7 px-4 bg-red-500 text-white transition-colors duration-200 hover:bg-red-600;
  &.disabled {
    @apply border-gray-400  text-gray-400 hover:bg-white hover:text-gray-400 cursor-default;
  }
}

.button-1 {
  @apply text-sm py-1 leading-7 px-4 bg-emerald-500 text-white transition-colors duration-200 hover:bg-emerald-600;
  &.disabled {
    @apply border-gray-400  text-gray-400 hover:bg-white hover:text-gray-400 cursor-default;
  }
}

.title-display {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 75px;
}

.theme {
  .navigation {
    li {
      a {
        @apply relative pb-1;

        &:before,
        &:after {
          content: '';
          @apply absolute top-full w-0 h-0.5 bg-red-500 z-10 transition-all duration-300;
        }
        &:before {
          @apply right-1/2;
        }
        &:after {
          @apply left-1/2;
        }

        &:hover {
          @apply text-red-500 fill-red-500;
          &:before,
          &:after {
            @apply w-1/2;
          }
        }
        &.active {
          @apply text-red-500 fill-red-500;
          &:before,
          &:after {
            @apply w-1/2;
          }
        }
      }
    }
  }

  &.dark {
    @apply text-white bg-gray-800;
    // svg {
    //   @apply fill-white stroke-white;
    // }
    .navigation {
      li {
        a {
          &:before,
          &:after {
            content: '';
            @apply bg-emerald-300;
          }

          &:hover {
            @apply text-emerald-300 fill-emerald-300;
          }
          &.active {
            @apply text-emerald-300 fill-emerald-300;
          }
        }
      }
    }
  }
}
